


.color-onboading{
    background-color: rgba(217, 233, 192, 0.2);
    
}
.blob1::before{
    content: "";
    position: absolute;
    height: 456px;
    width: 600px;
    background-color: rgba(212, 230, 193, 0.15);
    border-radius: 68% 32% 65% 35% / 64% 31% 69% 36% ;
    bottom: 200px;
    left: -120px;
    backdrop-filter: blur(200px);
    z-index: -50;
}